body{
    margin: 0;
    padding: 0;
}

.head{
    width: 100vw;
    height: 55px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));

}

.bcg{
    background-image: url(../image/rana1.png);
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.logo{
    margin: 17px 0 auto 80px;
    float: left;

    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Tahoma;
    font-weight: 600;
}

.logo:hover{
    color: #3cb878
}

.start-menu{
    float: right;
    margin: 20px 80px auto 0;

    list-style: none;
    vertical-align: middle;

    color: white;
}

.icon{
    display: inline-block;
    margin-right: 25px;
    width: 20px;
    height: 20px;
    /*border: 1px solid red;*/
    text-decoration: none;

}

.calendar {
    width: 19px; height: 19px;
    background: url('../image/css_sprites.png') -10px -10px;
}

.calendar:hover {
    width: 19px; height: 19px;
    background: url('../image/css_sprites_hover.png') -10px -10px;
}

.sms {
    width: 28px; height: 20px;
    background: url('../image/css_sprites.png') -10px -89px;
}

.sms:hover {
    width: 28px; height: 20px;
    background: url('../image/css_sprites_hover.png') -10px -89px;
}

.nav {
    width: 20px; height: 20px;
    background: url('../image/css_sprites.png') -10px -49px;
}

.nav:hover {
    width: 20px; height: 20px;
    background: url('../image/css_sprites_hover.png') -10px -49px;
}

.text-registration{
    font-family: Tahoma;
    font-size: 14px;
    position: relative;
    top: -5px;
}

.link-deckor{
    text-decoration: none;
    color: #3cb878;
}

.all{
    display: flex;
    align-items: center;

    height: calc(100vh - 55px);

}

.login-page{
    width: 340px;
    height: 550px;

    background-color: white;
    border-radius: 15px;
    padding: 30px 60px;
    margin: 0 auto;
}

.title-form{
    float: left;
    position: relative;
    left: -15px;

    color: black;
    font-family: Tahoma;
    font-size: 20px;

}

.title-form:before{
    display: inline-block;
    content: '';
    border: 8px solid #3cb878;
    position: relative;
    left: -45px;
}

.title-form-reg{
    margin-bottom: 15px;
}

.login-form{
    float: right;

    text-decoration: none;
    color: #3cb878;
    font-size: 14px;
    font-family: Tahoma;
}

.button{
    display: inline-block;
    vertical-align: top;

    width: 155px;
    /*height: 45px;*/
    text-decoration: none;
    color: white;
    font-family: Tahoma;
    border-radius: 4px;

    padding: 15px 0;
    margin-bottom: 30px;
}

.button-fb{
    margin-right: 26px;
    background-color: #305db8;
}

.fa{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 30px;
}

.fa-facebook:after{
    content: '';
    border-left: 1px solid #2b54a5;
    position: relative;
    right: -15px;
}

.button-google{
    background-color: #df4a32;
}

.fa-google-plus:after{
    content: '';
    border-left: 1px solid #c8422d;
    position: relative;
    right: -15px;
}

.separator{
    display: block;
    color: #848484;
    font-size: 14px;
    font-family: Tahoma;
    margin-bottom: 20px;
}

.separator:before{
    content: '___________________';
    position: relative;
    bottom: 4px;
    margin-right: 20px;
}

.separator:after{
    content: '___________________';
    position: relative;
    bottom: 4px;
    margin-left: 20px;

}

/*FORM*/

.form-container{
    width: 320px;
    margin-bottom: 30px;
}

.register-form{
    width: 320px;
}
.form{
    display: block;
    width: 100%;
    height: 45px;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    border-radius: 2px;

    padding-left: 20px;
    font-family: Tahoma;
    color: red;
    font-size: 14px;

    outline: none;
}

.form:focus{
    border: 1px solid white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    color: black;

}

.form::placeholder{
    color: #bebebe;
    margin-left: 20px;
}

.confirm-password{
    margin-bottom: 20px;
}

#checkbox{
    position: relative;
    top: -3px;
}

.text-button{
    display: block;
    padding: 15px 123px;

    border-radius: 3px;
    text-decoration: none;
    background-color: #329a65;
    color: white;
    font-family: Tahoma;
    font-size: 14px;

}



.clearfix::after {
    display: block;
    content: '';
    clear: both;
}